// Required bootstrap scss
@import '../../../node_modules/bootstrap/scss/functions';

$bright-blue: #2196f3;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$nav-zindex: 20;
$doc-icon-size: 3vw;

// Default variables overrides
$primary: $bright-blue;

// Required bootstrap scss
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';
@import '../../../node_modules/bootstrap/scss/root';

// Optional Bootstrap components
@import '../../../node_modules/bootstrap/scss/containers';
@import '../../../node_modules/bootstrap/scss/utilities';
@import '../../../node_modules/bootstrap/scss/helpers';
@import '../../../node_modules/bootstrap/scss/utilities/api';

// Custom mixins
@mixin box-shadow($value) {
  box-shadow: $value;
  -webkit-box-Shadow: $value;
  -moz-box-shadow:$value;
}

@mixin flex-layout($position: relative ,$direction:row, $justify:center, $align: center){
  @extend .d-flex;
  @extend .position-#{$position};  
  @extend .flex-#{$direction};
  @extend .justify-content-#{$justify};
  @extend .align-items-#{$align};

}

@mixin section-layout-dimension {
  @extend .w-100;
  min-height:calc(100vh - 70px);
}

@mixin dimension($width:auto, $height:auto) {
  width: $width;
  height: $height;
}