@use '../../scss/custom' as cus;

.single-input{

  @include cus.display-position;
  @include cus.dimension(100%);
  @extend .my-2;
  @extend .p-2;
  max-width: 400px;
  background-color: rgba(#2196f3, 0.25);
  border: 0px solid green;
  border-radius: 8px;

  label{
    @extend .d-block;
    @extend .mb-1;
    @extend .text-center;
  }
  .form-inputs{
    @include cus.flex-layout($justify: evenly);
    
    textarea{
      @include cus.dimension(80%, 50px);
    }

    .rate-submit{
      @include cus.flex-layout($flex: inline-flex, $direction: column, $justify: between);
      @extend .position-relative;
      @include cus.dimension($height: 100%);
      //border: 2px solid red;

      input{
        @include cus.display-position;
        @include cus.dimension(50px);
      }

      input[type="submit"]{
        background-color: cus.$bright-blue;
        border: 2px solid cus.$bright-blue;
        border-radius: 5px;
        color: white;
        font-weight: bold;
      }

      input[type="submit"]:active{
        border: 2px inset cus.$bright-blue;

      }
    }
  }

  
}